img {
    width: 200px;
    border-radius: 10px;
  }

  .nav-link {
    text-decoration: none; 
    color: rgb(220, 233, 219);
  }

  .logo{
    width: 200px;
  }

  .nav{
    display: flex;
    justify-content: center;
  }

  .img-container{
    margin-right: 50px;
  }

.img2-container{
    height: 300px;
}

.disc{
    width: 500px;
    height: 300px;
}
.img2-container{
  margin: 1%;
    margin-bottom: 1%;
}

.img3-container{
    height: 300px;
}
.cid{
    width: 500px;
    height: 300px;
}
.img3-container{
    margin: 1%;
    margin-bottom: 1%;
}
/* styles sign up */


* {box-sizing: border-box}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* styles for my form */


/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid #3d3939;
  margin-bottom: 25px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #3c6dd6;
  color: rgb(245, 237, 237);
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: rgba(25, 140, 255, 0.575);
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #fffafa;
  text-align: center;
}
/* styles bubbles */
.formr{
    border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}
.formx{
    border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}
.formq{
    border: 2px solid red;
  padding: 10px;
  border-radius: 25px;
}
.formd{
    border: 2px solid rgb(26, 25, 25);
  padding: 10px;
  border-radius: 25px;
}








